@use '../base/variables' as *;
@use '../base/mixins' as *;

.filters-panel {
  @include card;
  padding: $sp-5;
  position: sticky;
  top: $sp-6;
  .title { font-weight: 600; margin-bottom: $sp-4; }
}
