@use './variables' as *;
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  background: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a { color: inherit; text-decoration: none; }
